:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  min-height: 95vh;
  flex-direction: column;
}
h1, button{
  color:hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;


}
p{
  color:hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
}
button{
  text-align: center;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 30px;
}
#container {
  display: flex;
  width: 750px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
#sedans {
  background-color: var(--bright-orange);
}
#sedans button{
  color: var(--bright-orange);
}
#suvs {
  background-color: var(--dark-cyan);
}
#suvs button{
  color: var(--dark-cyan);
}
#luxury {
  background-color: var(--very-dark-cyan);
}
#luxury button{
  color: var(--very-dark-cyan);
}
.cards {
  height: 300px;
  padding: 10px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
#sedans button:hover{
  cursor: pointer;  
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
#suvs button:hover{
  cursor: pointer;  
  border: 2px solid hsl(0, 0%, 95%);
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
#luxury button:hover{
  cursor: pointer;  
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
@media (max-width:375px) {
  body {
  display: flex;
  width: 95vw;
  min-height: 95vh;
  flex-direction: column;
}
  #container {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
}